#d1{
    margin-top: 50px;
    /* background-color: #5F6266; */
    width: 600px;
    height: 300px;
}
#jumbo{
    margin-top: 60px;
    background-color: black;
    /* background-color: #5F6266; */
    color: #F0F2F7;
}
body{
    background-color: black;
}
h1{
    font-size: 4em;
}
