<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}NWSL Fantasy League{% endblock %}
</head>
<body>
    {% block body_block %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <br><div align='center' class="container" id="d1">
        <div class="jumbotron" id='jumbo'>
            <h1>comming soon...</h1>
        </div>
    </div>
    {% endblock %}
</body>
</html>